{* Při použití FormFactory od nette jsem nezjistil jak přidat např. class atd... *}

{block content}

<div style="margin-top: 20px; margin-bottom: 5px;" class="display-4 text-center">Editace projektu</div>

{control editProject}

{/block}
